<div class="container">
    <table class="table" *ngFor="let tournament of tournaments">
      <caption>{{ tournament.name }}</caption>
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let participant of tournament.participants">#{{ participant.id }}  {{ participant.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of tournament.participants; let i = index;">
          <td>{{ participant.name }}</td>
          <td *ngFor="let row of tournament.scores; let col = index">
            {{ tournament.scores[i].row[col].points }}
          </td>
        </tr>
      </tbody>
    </table>
</div>